node_modules/
cloudflared
cloudflared.exe
.vercel/
.gemini/
.system_generated/
*.log
dist/
native/dist/
native/src-tauri/target/
scratch/
.env
.env.*
!.env.example
.vercel
vercelgate
storage/
wrangler.jsonc
.wrangler/

# IDE & Editor files
.idea/
.vscode/
*.swp
*.cert
*.key

# macOS & OS junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
